{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <!-- Formulaire de recherche -->
            <form class="d-flex mb-4" role="search" method="get" action="{% url 'store' %}">
                <input class="form-control me-2" type="search" placeholder="Que voulez-vous acheter?" aria-label="Search" name="q" value="{{ search_query|default:'' }}">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
        </div>
    </div>

    {% if products %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageURL }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>

                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Ajouter au panier</button>
                        <a class="btn btn-outline-success ml-2" href="#">Voir</a>
                    </div>
                    <h4 class="mb-0" style="font-size: 1.2rem;"><strong>FCFA{{ product.price }}</strong></h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p>Aucun produit trouvé pour votre recherche "{{ search_query }}".</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}
